# GitHub Action that runs unit tests in an incoming pull request.
#
name: copy
on:
  push:
    branches: [master]
    tags: ['*']
jobs:
  copy:
    runs-on: ubuntu-latest
    env:
      GITHUB_ACCESS_TOKEN: ${{ secrets.ACTIONS_ACCESS_TOKEN }}
      TO_COPY: "to_copy to_copy_content"
      TARGET_DIR: "target"
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Checkout and clean target
        run: |
          cd ..
          git clone "https://$GITHUB_ACCESS_TOKEN@github.com/julfy/copy.git" $TARGET_DIR
          cd $TARGET_DIR
          git config --global user.email "team@datatron.com"
          git config --global user.name "Mr. Github Workflow"
          TRACKED=$(git ls-files | cut -d '/' -f 1 | sort | uniq)
          rm -rf $TRACKED
      - name: Copy to target
        run: |
          for f in $TO_COPY; do
            cp -r "$f" ../$TARGET_DIR;
          done
      - name: Commit and tag
        run: |
          BRANCH_NAME="${GITHUB_REF#refs/heads/}"
          TAG_NAME="${GITHUB_REF#refs/tags/}"
          CM="${{ github.event.head_commit.message }}"
          cd ../$TARGET_DIR
          git add .
          echo '111111'
          git commit -m "$CM" || true
          if [[ "$BRANCH_NAME" = "master" ]]; then
              git push origin master
          else
              echo '====='
              TAG_MSG="$(git tag -l $TAG_NAME -n1 | cut -f 2- -d ' ' | xargs; git tag -l -n1000 $TAG_NAME | grep -v $TAG_NAME)"
              echo ">>>>> $TAG_MSG"
              git tag "$TAG_NAME" -m "$TAG_MSG"
              git push origin --tags
          fi
